body {
      font-family: Georgia, "Times New Roman",
        Times, serif;
      color: black;
      background-color: #A5E2F9
    }

   h1 {
    font-family:'Times New Roman';
     margin-left: 400px;  
  }

     nav {
        margin-left: 400px;
    }
  
    img {
      border-radius: 8px;      
      border: solid;
      width: 250px;
      height: 290px;
    }
   p {
     text-align: center
     font-family: Helvetica
   }    
   h3 {
     margin-left: 380px;   
    }
  .foto3 { 
   padding: 10px;
    margin: 10px; 
    border: 2px solid black;
    float:right;   
    width: 240px; 
    height: 300px;
    }  
  .foto2 { 
     padding: 10px;
    margin: 10px; 
    border: 2px solid black;
    float: right; 
    width: 330px; 
    height: 300px;
    }
 .foto1 { 
     padding: 10px;
    margin: 10px; 
    border: 2px solid black;
    float: right; 
    width: 250px; 
    height: 320px;
    }   
